h1{
    text-align: center;
}
.container{
    flex-direction: column;
    display: flex;
    width: fit-content;
    margin: auto;
}
body{
    background-color: antiquewhite;
}
img{
    width: 100px;
}
.notReady{
    background-color: gray;
}